In [3]:
n = 201
n/9
print("Value of n after '/=' {:.2f}".format(n))

Value of n after '/=' 201.00

# Identity Operators

In [4]:
num_1 = 12
num_2 = 23
print(num_1 is num_2)

False

In [5]:
num_1 = 12
num_2 = 12
print(num_1 is num_2)

True

In [6]:
num_1 = 12
num_2 = 23
print(num_1 is not num_2)

True

# Membership Operators

In [7]:
# Example for in
print(12 in [1, 2, 3, 12])

True

In [8]:
print(12 in [1, 2, 3, 5])

False

In [10]:
print(12 not in [1, 2, 3, 12])

False

In [11]:
print(not(1==2))

True

In [12]:
print(not(1==1))

False

- This is the first line
- Continuatuion
- a
- d
> This is the second line
>> This is the third line

In [19]:
# sep - separator
print("My name is {}".format('sikirulahi'), end ='\t')
print("My name is {}".format('sikirulahi'), end ='\t')
print("My name is {}".format('sikirulahi'), sep ='\t')

My name is sikirulahi	My name is sikirulahi	My name is sikirulahi

In [22]:
temperature = 51

if temperature < 0:
    print("Its freezing")
elif 0 < temperature < 20:
    print("Its cold")
elif 20 < temperature < 30:
        print("Its pleasant outside, ill go for a walk")
elif 30 < temperature < 50:
    print("Its hot, but i have an AC")
else:
    print("Its so hot, it feels like im on the sun")

Its so hot, it feels like im on the sun

In [25]:
for i in range(1, 10, 2):
    print(i, end = ' ')

1 3 5 7 9

In [2]:
i = 1
while i < 10:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9

In [2]:
i = 1
while True:
    print(i, end= ' ')
    i += 1
    if (i >= 10):
        break

1 2 3 4 5 6 7 8 9 10

In [3]:
for i in range(1, 6):
    print("*"*i)

*
**
***
****
*****

In [11]:
for i in range(1, 6):
    for j in range(1, i+1):
        print('*', end = '')
    print()

*
**
***
****
*****

In [25]:
for i in range(6):
    for j in range(i+1, 1):
        print("*", end = '')
    print()

# User Defined Functions

In [26]:
num_1, num_2, num_3 = 2, 3, 4
maximum = num_1

if num_2 < maximum:
    maximum = num_2
if num_3 > maximum:
    maximum = num_3

print("Maximum : ", maximum)

Maximum :  4

In [28]:
def display():
    print("This is a display function")

In [30]:
display()
display()

This is a display function
This is a display function

In [43]:
def sum_check(num_1, num_2):
    if isinstance (num_1, (int, float)) and (num_2, (int, float)):
        print(num_1 + num_2)
    else:
        print("Error")

In [44]:
sum_check(num_1 = 1, num_2 = 3)

4

In [47]:
num_1 = 2
def display():
    num_1 = 3
    print("Printing inside the function Num_1 = ", num_1)
    
print("Printing inside the function Num_1 = ", num_1)
display()
print("Printing inside the function Num_1 = ", num_1)

Printing inside the function Num_1 =  2
Printing inside the function Num_1 =  3
Printing inside the function Num_1 =  2

In [51]:
num_1 = 2
def display():
    global num_1
    num_1 = 3
    print("Local variable num_1 value = ", num_1)

print("Printing outside the function Num_1 = ", num_1)
display()
print("Printing outside the function Num_1 (2nd time) = ", num_1)

Printing outside the function Num_1 =  2
Local variable num_1 value =  3
Printing outside the function Num_1 (2nd time) =  3

In [57]:
def maximum(num_1, num_2, num_3):
    maximum = num_1
    
    if num_2 > maximum:
        maximum = num_2
    if num_3 > maximum:
        maximum = num_3
    return maximum

In [58]:
maximum(2,4,5)

5

In [81]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))
num_3 = int(input("Enter third number: "))

def addition():
    sum = (num_1 + num_2 + num_3)
#     return sum
    if sum > 100:
        print("Beyond century : ", sum)
    else:
        print("we are yet not there : ", sum)

Enter first number: 35
Enter second number: 413
Enter third number: 21

In [82]:
addition()

Beyond century :  469

# 1. String

In [85]:
Name ="LUTHOR"
print("what is the value im the {}st location: ".format(1), Name[1])

what is the value im the 1st location:  U

In [86]:
Name = "LUTHOR"
print("Count the entered character ", Name.count("LU"))

Count the entered character  1

In [87]:
Name = "LUTHOR"
if Name.islower():
    print("lower")
if Name.isupper():
    print("upper")
if Name.isalpha():
    print("alpha")
if Name.isalnum():
    print("Alphabet and numbers")
if Name.isdigit():
    print("Numbers")

upper
alpha
Alphabet and numbers

In [91]:
Name = "LUTHOR"
print("Name to lower case: {}".format(Name.lower()))
print("Name to upper case: {}".format(Name.upper()))
print("Name to swapcase: {}".format(Name.swapcase()))

Name to lower case: luthor
Name to upper case: LUTHOR
Name to swapcase: luthor

In [104]:
Name = "LUTHOR"
print("Name: {}".format(Name.upper()))
print(Name.upper())
print(Name.lower())
print(Name.swapcase())
print(Name.capitalize())

Name: LUTHOR
LUTHOR
luthor
luthor
Luthor

In [106]:
Sentence = "Lex Luthor was a villan in the superman comics"
print(" Starting from 1 all the way to 14 with a step of 2 : ", Sentence[1:14:2])

 Starting from 1 all the way to 14 with a step of 2 :  e uhrws

In [109]:
Sentence = "Lex Luthor was a villan in the superman comics"
print("words : ", Sentence.split(' '))
print(len(Sentence.split(' ')))

words :  ['Lex', 'Luthor', 'was', 'a', 'villan', 'in', 'the', 'superman', 'comics']
9

In [110]:
Sentence = " Lex Luthor was a villan in the superman comics    "
sentence = Sentence.strip()
print(sentence)

Lex Luthor was a villan in the superman comics

In [144]:
Sentence = "Lex Luthor was a villan in the superman comics"
Sentence = Sentence.strip()
print(Sentence)

list_of_words = Sentence.split(' ')
print(list_of_words)
new_sentence = ''
for i in list_of_words:
    if i.isalnum():
        new_sentence += ' ' + i 
        
print(new_sentence)
print(new_sentence.lstrip())
print(len(new_sentence.lstrip()))

Lex Luthor was a villan in the superman comics
['Lex', 'Luthor', 'was', 'a', 'villan', 'in', 'the', 'superman', 'comics']
 Lex Luthor was a villan in the superman comics
Lex Luthor was a villan in the superman comics
46

In [1]:
def word_count():
    print("The number of words is : ", len(sentence))
# User input
sentence = input("Enter a sentence: ")
word_count(sentence)

Enter a sentence: Lex Luthor was a villan in the superman comics

TypeError: word_count() takes 0 positional arguments but 1 was given

In [1]:
def word_preprocess(sentence):
    sentence = sentence.strip()
    list_of_word = sentence.split(' ')
    new_sentence= ' '
    for i in list_of_word:
       
        if i.isalnum():
            new_sentence += ' '+ i
            new_sentence = new_sentence.lstrip()
    return new_sentence

In [2]:
word_preprocess("Lex Luthor was a villan in the superman comics")

'Lex Luthor was a villan in the superman comics'

In [4]:
def word_preprocess(sentence):
    sentence = sentence.strip()
    list_of_word = sentence.split(' ')
    new_sentence= ' '
    for i in list_of_word:
       
        if i.isalnum():
            new_sentence += ' '+ i
            new_sentence = new_sentence.lstrip()
    return new_sentence

def word_count(sentence):
    print("The number of words is : ", len(sentence.split(' ')))
# User input
sentence = input("Enter a sentence: ")
processed_sentence = word_preprocess(sentence)
word_count(processed_sentence)

Enter a sentence: Lex Luthor was a villan in the superman comics
The number of words is :  9

In [ ]:
import random

x = input("Enter any number between 0,1 and 2: ")

y = rand